body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.modalWrapper {
    background-color: rgba(0,0,0,0.3);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.3);
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    background-color: white;
    z-index: 30;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
  }
  
  .modalHeader{
    padding-bottom: 1rem;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
  }
  .modalBody{
    padding: 2rem 4rem;  
  }
  
  .modalFooter{
    padding: 1rem;
    display: flex; 
    justify-content: center;
    align-items: center;
  
  }
  
  .button{
    background-color: forestgreen;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 16px;
    color: white;
  }

@media screen {
  
}
  